name: "Ingress Example"
version: "1.0.0"
slug: "nginx-ingress-example"
description: "Ingress testing"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ingress: true
ingress_port: 1337
ingress_stream: true
init: false
panel_icon: mdi:chart-timeline
panel_title: Ingress